*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
}

nav{
    display: flex;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #39131D;
    overflow: hidden;
    width: 100%;
}

li{
    display: inline;
    padding-left: 0px;
    float: left;
}

a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px 20px;
    font-size: 14pt;
    font: bold;
}

li a:hover{
    background-color: #111;
}

body{
    padding: 0px;
    margin: 0px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;
    background-color: #C28F47;
}

.left-1 {
    display: grid;
    place-items: center;
}

.left-1 h1{
    font-size: 50pt;
    color: whitesmoke;
    margin-left: 250px;
    margin-right: 100px;
}

.right-1 h2{
    font-size: 24pt;
    color: whitesmoke;
    margin-top: 150px;
    margin-right: 250px;
    margin-bottom: 50px;
}

.right-1 p{
    font-size: 16pt;
    color: rgb(79, 76, 76);
    margin-right: 250px;
    margin-bottom: 20px;
}

.right-1 input{
    width: 500px;
    height: 45px;
    border-radius: 8px;
    border-style: hidden;
    margin-bottom: 20px;
}

.right-1 button{
    background-color: #39131D;
    border-radius: 8px;
    border-style: hidden;
    text-align: center;
}

.container-1{
    display: flex;
    flex-direction: column;   
    background-color: whitesmoke;
}
.up{
    height: 150px;
}

.up h3{
    font-size: 30pt;
    text-align: center;
    margin-top: 30px;
}

.down{
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.section{
    background-color: #c28f47b3;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
    padding: 15px;
    justify-content: center;
    border-radius: 8px;
    margin-left: 70px;
}

.section img{
    width: 100%;
    
}

.section h4{
    font-size: 20pt;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section span{
    font-size: 16px;
}