html{
    cursor: url(IMG/paw-solid.svg), auto;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
}

.menu-bar{
    display: none;
}

nav {
    display: flex;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #39131D;
    overflow: hidden;
    width: 100%;
}

li {
    display: inline;
    padding-left: 0px;
    float: left;
}

a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px 20px;
    font-size: 14pt;
    font: bold;
    cursor: url(IMG/paw-solid.svg), auto;
}

li a:hover {
    background-color: #11111131;
    cursor: url(IMG/paw-solid.svg), auto;
}

body {
    padding: 0px;
    margin: 0px;
}

/* parte 1*/
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;
    background-color: #C28F47;
}

.left-1 {
    display: grid;
    place-items: center;
}

.left-1 h1 {
    font-size: 50pt;
    color: whitesmoke;
    margin-left: 250px;
    margin-right: 100px;
}

.left-1 img {
    margin-left: 150px;
}

#saludo {
    padding: 5px;
    text-align: center;
    font-size: 12pt;
    border: solid;
    border-color: #39131db3;
    width: 280px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#saludo:hover {
    background-color: #39131D;
    text-decoration: underline;
    cursor: url(IMG/paw-solid.svg), auto;
}

.right-1 h2 {
    font-size: 24pt;
    color: whitesmoke;
    margin-top: 100px;
    margin-right: 250px;
    margin-bottom: 20px;
}

.right-1 p {
    font-size: 16pt;
    color: rgb(79, 76, 76);
    margin-right: 250px;
    margin-bottom: 20px;
}

.right-1 input {
    width: 500px;
    height: 45px;
    border-radius: 8px;
    border-style: hidden;
    margin-bottom: 20px;
    cursor: url(IMG/paw-solid.svg), auto;
}

.right-1 button {
    background-color: #39131D;
    border-radius: 8px;
    border-style: hidden;
    text-align: center;
    cursor: url(IMG/paw-solid.svg), auto;
}

#terminos {
    height: 15px;
    width: 15px;
}

/*parte2*/
.container-1 {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.up {
    height: 150px;
}

.up h3 {
    font-size: 30pt;
    text-align: center;
    margin-top: 30px;
}

.down {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.section {
    background-color: #c28f47b3;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
    padding: 15px;
    justify-content: center;
    border-radius: 8px;
    margin-left: 70px;
}

.section img {
    width: 100%;
    object-fit: contain;
}

.section h4 {
    font-size: 20pt;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section span {
    font-size: 16px;
}

/*parte3*/
.container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 600px;
    background-color: #C28F47;
}

.left-2 {
    display: grid;
    place-items: center;
}

.left-2 h1 {
    font-size: 35pt;
    color: whitesmoke;
    margin-left: 250px;
    margin-right: 100px;
    margin-bottom: 30px;
}

.left-2 p {
    font-size: 20pt;
    color: whitesmoke;
    margin-right: 100px;
    margin-left: 250px;
    margin-top: 0;
}

.left-2 a {
    background-color: #39131D;
    text-align: center;
    color: whitesmoke;
    border-radius: 8px;
}

.left-2 a:hover {
    text-decoration: underline;
    background-color: #39131d88;
    cursor: url(IMG/paw-solid.svg), auto;
}

.right-2 {
    display: grid;
    place-items: center;
}

.right-2 img {
    width: 100%;
    margin-right: 40px;
}

/*parte4*/
.container-3 {
    background-color: whitesmoke;
    height: 500px;
    margin: 0%;
    padding: 0%;
}

.container-3 h1 {
    font-size: 25pt;
    font-weight: 900;
    font: bold;
    padding: 50px;
    text-align: center;
}

.seccion {
    font-size: 16pt;
    margin-left: 700px;
}

.container-3 form input {
    width: 400px;
    height: 40px;
    border-radius: 8px;
    border: hidden;
    margin-bottom: 10px;
    cursor: url(IMG/paw-solid.svg), auto;
}

.container-3 form select {
    width: 400px;
    height: 40px;
    border-radius: 8px;
    border: hidden;
    margin-left: 42px;
    margin-bottom: 10px;
    cursor: url(IMG/paw-solid.svg), auto;
}

.container-3 form textarea {
    border-radius: 8px;
    border: hidden;
    cursor: url(IMG/paw-solid.svg), auto;

}

#submit {
    width: 500px;
    background-color: #39131D;
    font-size: 16pt;
    color: whitesmoke;
    cursor: url(IMG/paw-solid.svg), auto;
}

/*parte5*/
.footer {
    background-color: #39131D;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 0px;
    width: 100%;
    height: 250px;
    padding: 0px;
    place-items: center;
}

#columnas-1 p, #columnas-2 p {
    color: whitesmoke;
    font-size: 16pt;
    text-align: center;
    margin-bottom: 30px;
}

#columnas-1 a {
    margin-left: 175px;
    cursor: url(IMG/paw-solid.svg), auto;
}

#columnas-2 a {
    display: inline;
    margin-left: 45px;
    cursor: url(IMG/paw-solid.svg), auto;
}

.columnas img {
    width: 200px;
    margin-left: 100px;
}

@media (max-width:1024px) {
    .container, .container-2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        height: 850px;
        margin-top: 0px;

        .left-1 h1 {
            margin-left: 100px;
        }

        .left-1 img {
            margin-left: 0px;
        }
        .right-1 h2, .right-1 p, .left-2 p {
            margin-top: 50px;
            margin-left: 150px;
            margin-right: 100px;
        }
        #saludo {
            margin-left: 350px;
        }
        .right-1 input {
            width: 600px;
            margin-left: 150px;
        }
        .left-2 h1 {
            margin-left: 150px;
            margin-right: 100px;
            margin-top: 30px;
        }
        .left-2 a {
            margin-top: 20px;
            margin-bottom: 19px;
        }
        .right-2 img {
            margin: 0px;
        }
    }
    .container-1 {
        flex-direction: column;
        .down {
            flex-direction: column;
            row-gap: 20px;
            margin-bottom: 50px;
        }
        .section {
            margin-left: 320px;
        }
    }
    .container-3 {
        height: 600px;
        margin-top: 0px;
        
        .seccion {
            margin-left: 250px;
        }
    }

    .footer{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: fit-content;
        
        .columnas{
            margin-left: -100px;
            margin-top: -50px;
        }
        #columnas-1 a{
           padding: 0px;
           margin-left: 195px;
        }
        #columnas-2 p{
            margin-left: 30px;
            margin-right: 30px;
        }
        #columnas-2 a{
            padding: 0px;
            margin-left: 145px;
        }
    }
}


@media only screen and (max-width:768px) {

    .container, .container-2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        height: 850px;
        margin-top: 0px;

        .left-1 h1 {
            margin-left: 100px;
        }

        .left-1 img {
            margin-left: 0px;
        }
        .right-1 h2, .right-1 p, .left-2 p {
            margin-top: 50px;
            margin-left: 150px;
            margin-right: 100px;
        }
        #saludo {
            margin-left: 250px;
        }
        .right-1 input {
            width: 400px;
            margin-left: 150px;
        }
        .left-2 h1 {
            margin-left: 150px;
            margin-right: 100px;
            margin-top: 30px;
        }
        .left-2 a {
            margin-top: 20px;
            margin-bottom: 19px;
        }
        .right-2 img {
            margin: 0px;
        }
    }
    .container-1 {
        flex-direction: column;
        .down {
            flex-direction: column;
            row-gap: 20px;
            margin-bottom: 50px;
        }
        .section {
            margin-left: 180px;
        }
    }
    .container-3 {
        .seccion {
            margin-left: 150px;
        }
    }

    .footer{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: fit-content;
        
        .columnas{
            margin-left: -100px;
            margin-top: -50px;
        }
        #columnas-1 a{
           padding: 0px;
           margin-left: 195px;
        }
        #columnas-2 p{
            margin-left: 30px;
            margin-right: 30px;
        }
        #columnas-2 a{
            padding: 0px;
            margin-left: 145px;
        }
    }
}

@media (max-width: 700px) {
    header nav{
        width: 80%;
        height: 100%;
        margin: 0px;
        position: absolute;
        left: -100%;

    }
    header nav ul li{
        display: block;
        float: none !important;

    }
    .menu-bar{
        display: block;
        width: 100%;
        background-color: #39131D;
    }
    .menu-bar .bt-menu{
        z-index: 1;
        padding: 20px;
        font-size: 17pt;
    }
    .bt-menu i{
        margin-right: 10px;
    }
    .container, .container-2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        height: 650px;
        margin-top: 0px;

        .left-1 h1 {
            margin-left: 60px;
            font-size: 35pt;
        }
        .left-1 img {
            margin-left: 0px;
            width: 250px;
        }
        .right-1 h2, .right-1 p, .left-2 p {
            margin-top: 30px;
            margin-left: 55px;
            margin-right: 50px;
            font-size: 15pt;
        }
        #saludo {
            margin-left: 90px;
        }
        .right-1 input {
            width: 250px;
            margin-left: 50px;
        }
        .left-2 h1 {
            margin-left: 55px;
            margin-right: 50px;
            margin-top: 30px;
            font-size: 35pt;
        }
        .left-2 a {
            margin-top: 20px;
            margin-bottom: 19px;
        }
        .right-2 img {
            margin: 0px;
        }
    }

    .container-1 {
        flex-direction: column;
        .down {
            flex-direction: column;
            row-gap: 20px;
            margin-bottom: 50px;
        }
        .section {
            margin-left: 50px;
        }
        .up {
            font-size: 35pt;
            margin-bottom: 40px;
        }
    }
    .container-3 {
        height: 750px;

        .seccion {
            margin-left: 55px;
            font-size: 15pt;
        }
        #tipo {
            margin-left: 0px;
        }
        #comentario {
            width: 400px;
        }
        #submit {
            width: 400px;
        }
    }
    .footer{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 400px;

        .columnas{
            width: 40px;
            margin-left: -350px;
            margin-top: -40px;
        }
        #columnas-1 p, #columnas-2 p{
            font-size: 12pt;
            margin-bottom: 15px;
            margin-top: 10px;
        }
        #columnas-1 a{
            margin-left: 145px;
            font-size: 12pt;
            padding: 0px;
            margin-bottom: -15px;
        }
        #columnas-2 a{
            padding: 0px;
            margin-left: 75px;
        }
    }
    
}